# Server Configuration
PORT=3001
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:8081,http://localhost:8080,http://localhost:3000

# Google Sheets Configuration
GOOGLE_SHEET_ID=1W82kmjNEDbnUPtyc1rjz24CjUn5V1RKZmlF6Ym9B2_A
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----"

# Google Maps API Key
GOOGLE_MAPS_API_KEY=AIzaSyC-RQrNZyJ4_YmnvZNWz8-wf1pnV5jJzXs